body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family:Poppins,sans-serif;
}

.container-auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Additional styling for form elements if needed */
.form-title {
    text-align: center;
}
.col {
    
    background-color: white;
    border: 2px solid #ddd; /* Ketebalan border 2px dan warna abu-abu */
    border-radius: 8px; /* Sudut border bulat */
    padding: 20px;
    width: 400px;
}
.list-group-flush .list-group-item {
    background-color: rgba(255, 255, 255, 0.10);
    font-size:14px;
}
.sampul{
    max-width: 320px;
    border-radius: 20px;
}